@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

* {
    font-family: 'Poppins', sans-serif;
}

.profile {
    

    .header {
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 100px;

        .container {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: space-around;
            background-color: #fff;
            padding: 10px;
            .logoBox {
                display: flex;
                align-items: center;
                padding: 20px 20px;
                text-decoration: none;
                color: #14161a;

                .logo {
                    width: 100px;
                    padding-right: 20px;
                }

                .textLogo {
                    font-weight: 500;

                    span {
                        color: #01acc8;
                        text-decoration: underline;
                    }
                }
            }

            .menuBox {
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 100%;
                width: 400px;

                .nav_link {
                    text-decoration: none;
                    color: #111;
                    font-weight: 500;

                    ion-icon {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .main {
        position: relative;
        top: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        background: rgb(228, 228, 231);
        .content {
            display: flex;
            flex-direction: column;
            

            justify-content: center;
            padding-top: 30px;
            width: 98%;
            gap: 20px;

            .profileBox {
                width: 100%;
                background: #fff;
                border-radius: 15px;
                overflow: hidden;

                .info {
                    display: flex;
                    justify-content: space-between;
                    padding: 25px;

                    .textInfo {}

                    h2 {
                        font-size: 40px;
                    }

                    h3 {
                        font-size: 20px;
                        font-weight: 500;
                    }

                    h4 {
                        font-size: 20px;
                        font-weight: 400;
                    }

                    .foto {
                        img {
                            border-radius: 50%;
                            border: 5px ridge #01acc8;
                        }
                    }
                }

                .buttons {
                    padding: 10px 0;
                    display: flex;
                    justify-content: space-evenly;
                    gap: 20px;
                    flex-wrap: wrap;
                    border-top: 1px solid rgba(0, 0, 0, 0.2);

                    button {
                        display: flex;
                        justify-content: flex-start;
                        gap: 20px;
                        padding: 0px 30px;
                        align-items: center;
                        border: none;
                        background: #01acc8;
                        height: 50px;
                        width: 200px;
                        border-radius: 15px;

                    }
                }
            }

            .container {
                display: flex;
                gap: 20px;

                .aboutBox {
                    width: 70%;
                    background: #fff;
                    border-radius: 15px;
                    overflow: hidden;

                    .aboutContainer {
                        display: flex;
                        flex-direction: column;

                        h2 {
                            border-top: 1px solid rgba(0, 0, 0, 0.2);
                            padding: 15px 25px;
                        }

                        .aboutContent {
                            border-top: 1px solid rgba(0, 0, 0, 0.2);
                            padding: 25px;

                            p {
                                padding: 5px;
                            }
                        }

                        &:first-child {
                            h2 {
                                border-top: none;
                            }
                        }
                    }

                }

                .informacionBox {
                    width: 30%;
                    background: #fff;
                    border-radius: 15px;
                    overflow: hidden;

                    h2 {
                        padding: 15px;
                    }

                    .datosUbicacion {
                        border-top: 1px solid rgba(0, 0, 0, 0.2);
                        padding: 40px 25px;
                    }

                    .btnContacto {
                        border-top: 1px solid rgba(0, 0, 0, 0.2);
                        padding: 40px 25px;
                        display: flex;
                        justify-content: space-evenly;
                        gap: 10px;

                        button {
                            border-style: none;
                            height: 40px;
                            width: 100px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 15px;

                            ion-icon {
                                font-size: 25px;
                                padding: 10px;
                            }

                            &:hover {
                                background: #01acc8;

                                ion-icon {
                                    color: #fff;
                                }
                            }
                        }
                    }

                    .lenguage {
                        border-top: 1px solid rgba(0, 0, 0, 0.2);
                        padding: 20px 40px;
                        width: 100%;

                        .option {
                            width: 100%;
                            display: flex;
                            gap: 20px;
                            align-items: center;

                            ion-icon {
                                width: 20px;
                                color: green;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        position: relative;
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        background: #1fb5ce;
        align-items: center;
        justify-content: center;
        height: 200px;
        top: 100px;
        z-index: 1;

        .sci {
            position: relative;
            display: flex;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    margin: 0 20px;

                    ion-icon {
                        font-size: 50px;
                        color: #fff;
                    }
                }

                &:nth-child(1) {
                    a {
                        ion-icon {
                            &:hover {
                                border-radius: 10px;
                                color: #fff;
                                background-image: linear-gradient(45deg, #ffac4d, #e0437b, #ac30bc);
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    a {
                        ion-icon {
                            &:hover {
                                background: #fff;
                                color: #0676e8;
                                border-radius: 10px;
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    a {
                        ion-icon {
                            &:hover {
                                background: #fff;
                                color: #00c0ef;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }

        .copyright {
            margin-top: 20px;

            color: #111;
            font-size: 18px;
            font-weight: 300;
            text-align: center;

            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #111;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}