* {
    padding: 0;
    margin: 0;
}

.container-fluid {
    background: #fff;

    .main {
        position: relative;
        display: flex;
        width: 100%;
        min-height: 700px;
        top: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .infoPatient{
            background: #222;
            min-height: 200px;
            width: 90%;
        }
        .contentDescription {
            width: 100%;
            .descriptionB{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                textarea{
                    width: 90%;
                    height: 350px;
                    padding: 50px;
                }
            }
        }
        .contentMeasurement{
            display: flex;
            flex: 0 300px 300px;
        }
    }
}