<div class="topfive">
    <div class="box">
        <h3>Mejores psicólogos del Año</h3>
        <div class="list" *ngFor="let usuario of mejorPagadoAnio; let i = index">
            <div class="imgBox">
                <img src="{{usuario.urlFotoPerfil}}" alt="Not found">
            </div>
            <div class="content">
                <h2 class="rank">
                    <small>#</small>
                    {{i+1}}
                </h2>
                <h4>
                    {{usuario.psicologo}}
                </h4>
                <p>Psicóloga</p>
                <p>No. {{usuario.colegiado}}</p>
                <p>Ganancia. {{usuario.ganancias_al_anio}}</p>
            </div>
        </div>
    </div>
</div>