<div class="cardBox">
    <div class="cardHeader">
        <div class="img">
            <img src="{{profesional.foto}}" alt="foto" class="profile">
            <img src="{{profesional.bandera}}" alt="foto" class="logo">
        </div>

        <div class="data">
            <p class="pC1">Psicólogo online</p>
            <h3>{{profesional.nombres}} {{profesional.apellidos}}</h3>
            <p class="pC2">Cédula <span>{{profesional.cedula}}</span></p>
            <a href="#">Ver opciones (42)</a>
        </div>
    </div>
    <div class="cardContent">
        <ul>
            <li>idioma: <span>{{profesional.idiomas}}</span></li>
            <li>Nacionalidad: <span>{{profesional.nacionalidad}}</span></li>
            <li>Modelo terapéutico: <span>Cognitivo - conductual</span></li>
        </ul>
    </div>

    <div class="cardspan">
        <span>Abuso sexual</span>
        <span>Ansiedad</span>
        <span>Conductas autodestructivas</span>
        <span>Conflicto de pareja</span>
        <span>Trastorno de personalidad</span>
    </div>
    <div class="cardFooter">
        <a href="/profile">Ver Perfil</a>
        <button type="button">Agregar cita</button>
    </div>
</div>