
    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <div class="cuadrado" style="--i:0"></div>
            <div class="cuadrado" style="--i:1"></div>
            <div class="cuadrado" style="--i:2"></div>
            <div class="cuadrado" style="--i:3"></div>
            <div class="cuadrado" style="--i:4"></div>
            <div class="cuadrado" style="--i:5"></div>
            <div class="cuadrado" style="--i:2"></div>
            <div class="cuadrado" style="--i:3"></div>
            <div class="cuadrado" style="--i:4"></div>
            <div class="cuadrado" style="--i:5"></div>
            <div class="cuadrado" style="--i:1"></div>
            <div class="cuadrado" style="--i:1"></div>
            <div class="cuadrado" style="--i:1"></div>
            <div class="conteiner">
                <div class="form">
                    <h2>Register</h2>
                    <form>
                        <div class="inputBox">
                            <h4>Ingrese nombre</h4>
                            <input type="text" name="" id="names" placeholder="Nombres...">
                        </div>
                        <div class="inputBox">
                            <h4>Ingrese apellidos</h4>
                            <input type="text" name="" id="lastnames" placeholder="Apellidos...">
                        </div>
                        <div class="inputBox">
                            <h4>Correo electrónico</h4>
                            <input type="text" name="" id="email" placeholder="Correo electrónico...">
                        </div>
                        <div class="inputBox">
                            <h4>Número celular</h4>
                            <input type="text" name="" id="email" placeholder="Correo electronico...">
                        </div>
                        <div class="inputBox">
                            <h4>Contraseña</h4>
                            <input type="password" name="password" id="password"placeholder="Password">
                        </div>
                        <div class="inputBox">
                            <h4>Confirmación contraseña</h4>
                            <input type="password" name="passwordConf" id="password"placeholder="Confirm password">
                        </div>
                        <div class="output">
                            <input type="submit" value="Create">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

