<section class="container-fluid">
    <app-header></app-header>
    <div class="main">
        <div class="top-psicologos">
            <app-top-five></app-top-five>
            <app-top-five></app-top-five>
        </div>
        <div class="boxContainer">
            <h2>¿Qué estas buscando?</h2>
            <div class="searchBar">
                <input type="text">
                <div class="actions">
                    <button>
                        <span><i class="fa-solid fa-magnifying-glass"></i></span>
                    </button>
                </div>
            </div>
            <div class="container-table">
                <table class="table table-striped table-light table-hover" id="tabla-profesional">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Foto</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Correo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of userDatas; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>
                                <img src="{{usuario.urlFotoPerfil}}"
                                    alt="Not found" height="100px">
                            </td>
                            <td>{{usuario.nombre}}</td>
                            <td>{{usuario.apellido}}</td>
                            <td>{{usuario.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</section>
