<div class="container-fluid">
    <div class="main">
        <div class="prueba" *ngIf="!updateDataComponent">
            <app-update-data (actualizarPerfil)="actualizarPerfilEnPadre($event)"
                [updateDataComponent]="updateDataComponent"></app-update-data>
        </div>
        <section class="content">

            <div class="profileBox">
                <div class="configura" *ngIf="canEditProfile">
                    <i class="fa-solid fa-gear" (click)="updateDataComponent = !updateDataComponent"></i>
                </div>
                <div class="info">
                    <img src="{{userData?.urlFotoPortada}}" alt="">
                    <div class="foto">
                        <img src="{{userData?.urlFotoPerfil}}" alt="foto">
                    </div>
                </div>
                <div class="buttons">
                    <div class="textInfo">
                        <h2>{{userData?.nombre}} {{userData?.apellido}} </h2>
                        <h3>Psicólogo, <span>Guatemala</span></h3>
                        <h4>Colegiado No.{{userData?.colegiadoProfesional}}</h4>

                    </div>
                    <div class="BoxButtons">

                        <button>
                            <i class="fa-solid fa-user"></i>
                            Informacion</button>
                        <button>
                            <i class="fa-solid fa-envelope"></i>
                            <a
                                href="mailto:{{userData?.email}}?subject=Asunto del correo&body=Cuerpo del correo">Contactar</a>
                        </button>
                        <button>
                            <i class="fa-brands fa-whatsapp"></i>
                            Contactar</button>

                    </div>

                </div>
            </div>
            <div class="containerP">
                <div class="contentBox">
                    <div class="aboutBox">
                        <div class="aboutContainer">
                            <h2>
                                Biografía
                            </h2>
                            <div class="aboutContent" *ngFor="let p of datosProfesional">
                                <p>
                                    {{p.descripcion}}
                                </p>
                            </div>
                        </div>
                        <div class="aboutContainer">
                            <h2>
                                Terminos y condiciones
                            </h2>
                            <div class="aboutContent" *ngFor="let p of clinicasProfesiona">
                                <p>
                                    {{p.terminosDeAtencion}}
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="informacionBox">
                        <h2>Más información</h2>
                        <div class="lenguage">
                            <h2>Información</h2>
                            <div class="option" *ngFor="let p of datosProfesional">
                                <i class="fa-solid fa-check"></i>
                                <p>Teléfono: {{userData.telefono}}</p>
                            </div>
                            <div class="option" *ngFor="let p of datosProfesional">
                                <i class="fa-solid fa-check"></i>
                                <p>Precio/hora: {{p.precioPorHora}}</p>
                            </div>
                        </div>
                        <div class="lenguage">
                            <h2>Idiomas</h2>
                            <div class="option" *ngFor="let idioma of UserDataIdiomas">
                                <i class="fa-solid fa-check"></i>
                                <p>{{idioma.nombre}}</p>
                            </div>
                        </div>
                        <div class="lenguage">
                            <h2>Especialidades</h2>
                            <div class="option" *ngFor="let especialidad of especialidades">
                                <i class="fa-solid fa-check"></i>
                                <p>{{especialidad.especialidad}}</p>
                            </div>
                        </div>
                        <div class="lenguage" >
                            <h2>Clinicas</h2>
                            <div class="boxClinicas" *ngFor="let p of clinicasProfesiona">
                                <div class="option">
                                    <i class="fa-solid fa-check"></i>
                                    {{p.nombre}}
                                </div>
                                <h5>
                                    <i class="fa-solid fa-location-dot"></i>
                                    {{p.calle}} calle {{p.numero}} zona {{p.zona}} {{p.ciudad}},
                                    {{p.estado}}.({{p.referencias_direccion}})
                                </h5>
                            </div>
                        </div>
                        <div class="btnContacto">
                            <button>
                                <i class="fa-solid fa-location-dot"></i>
                            </button>
                            <button>
                                <i class="fa-brands fa-instagram"></i>
                            </button>
                            <button>
                                <i class="fa-brands fa-whatsapp"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="calendarBox">
                    <h2>Citas agendadas</h2>
                    <app-calendar></app-calendar>
                </div>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>