<div class="container-fluid">
    <header class="header">
        <div class="containerH">
            <a href="/home" class="logoBox">
                <img src="assets/img-home/psicobien.png" alt="logo" class="logo">
                <h2 class="textLogo">Psico<span>bien</span></h2>
            </a>
            <nav class="menuBox">
                <a href="" class="nav_link">Inicio</a>
                <a href="" class="nav_link">Psicólogos</a>
                <a href="#" class="nav_link"><i class="fa-solid fa-magnifying-glass"></i></a>
                <div class="comboBtn">
                    <button class="button">Ingresar <i class="fa-solid fa-caret-down"></i></button>
                    <div class="loginBox">
                        <button><a href="/login">Iniciar sesion</a></button>
                        <button><a href="/create-account">Crear cuenta</a></button>
                    </div>
                </div>
            </nav>

        </div>
    </header>
    <div class="main">
        <section class="content">
            <div class="profileBox">

                <div class="info">
                    <img src="{{portada.fondoPortada}}" alt="">
                    <div class="foto">
                        <div class="actionBtn">
                            <div class="btnSubir">
                                <input type="file" (change)="getFile($event)" id="fileInput">
                                <label for="fileInput" class="file-input-label">
                                    <i class="fas fa-cloud-upload-alt"></i>
                                </label>
                            </div>
                            <!-- <button (click)="sendFile()">Enviar</button> -->
                        </div>
                        <img src="assets/img-profile/foto.png" alt="foto">
                    </div>
                </div>
                <div class="buttons">
                    <div class="textInfo">
                        <h2>Balvino Alberto Ulin Menchú</h2>
                        <h3>Psicólogo, <span>Guatemala</span></h3>
                        <h4>Colegiado No.13912</h4>
                    </div>
                    <div class="BoxButtons">

                        <button>
                            <i class="fa-solid fa-user"></i>
                            Informacion</button>
                        <button>
                            <i class="fa-solid fa-envelope"></i>
                            Contactar</button>
                        <button>
                            <i class="fa-brands fa-whatsapp"></i>
                            Contactar</button>
                    </div>

                </div>
            </div>
            <div class="containerP">
                <div class="contentBox">
                    <div class="aboutBox">
                        <div class="aboutContainer">
                            <h2>
                                Acerda de mí
                            </h2>
                            <div class="aboutContent">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora delectus eveniet
                                    labore esse
                                    maxime suscipit laudantium vero. Quas quisquam explicabo neque non perspiciatis fuga
                                    quae
                                    delectus
                                    expedita illo, tempora nulla?
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, vero natus ea vitae
                                    atque
                                    architecto
                                    fuga quisquam ipsam iste perferendis labore deserunt nobis doloremque delectus
                                    voluptas
                                    velit
                                    officia odit repellat.
                                </p>
                            </div>
                        </div>
                        <div class="aboutContainer">
                            <h2>
                                Experiencia laboral
                            </h2>
                            <div class="aboutContent">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora delectus eveniet
                                    labore esse
                                    maxime suscipit laudantium vero. Quas quisquam explicabo neque non perspiciatis fuga
                                    quae
                                    delectus
                                    expedita illo, tempora nulla?
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, vero natus ea vitae
                                    atque
                                    architecto
                                    fuga quisquam ipsam iste perferendis labore deserunt nobis doloremque delectus
                                    voluptas
                                    velit
                                    officia odit repellat.
                                </p>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora delectus eveniet
                                    labore esse
                                    maxime suscipit laudantium vero. Quas quisquam explicabo neque non perspiciatis fuga
                                    quae
                                    delectus
                                    expedita illo, tempora nulla?
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, vero natus ea vitae
                                    atque
                                    architecto
                                    fuga quisquam ipsam iste perferendis labore deserunt nobis doloremque delectus
                                    voluptas
                                    velit
                                    officia odit repellat.
                                </p>
                            </div>
                        </div>
                        <div class="aboutContainer">
                            <h2>
                                Acerda de mí
                            </h2>
                            <div class="aboutContent">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora delectus eveniet
                                    labore esse
                                    maxime suscipit laudantium vero. Quas quisquam explicabo neque non perspiciatis fuga
                                    quae
                                    delectus
                                    expedita illo, tempora nulla?
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, vero natus ea vitae
                                    atque
                                    architecto
                                    fuga quisquam ipsam iste perferendis labore deserunt nobis doloremque delectus
                                    voluptas
                                    velit
                                    officia odit repellat.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="informacionBox">
                        <h2>Más información</h2>
                        <div class="datosUbicacion">
                            <h3>Ubicaicón</h3>
                            <h4>
                                <i class="fa-solid fa-location-dot"></i>
                                segunda calle 1-62 zona 1 San Mateo,
                                Quetzaltnenagp.
                            </h4>
                        </div>
                        <div class="btnContacto">
                            <button>
                                <i class="fa-solid fa-location-dot"></i>
                            </button>
                            <button>
                                <i class="fa-brands fa-instagram"></i>
                            </button>
                            <button>
                                <i class="fa-brands fa-whatsapp"></i>
                            </button>
                        </div>
                        <div class="lenguage">
                            <h2>Idiomas</h2>
                            <div class="option">
                                <i class="fa-solid fa-check"></i>
                                <p>Español</p>
                            </div>
                            <div class="option">
                                <i class="fa-solid fa-check"></i>
                                <p>Ingles</p>
                            </div>
                        </div>
                        <div class="lenguage">
                            <h2>Idiomas</h2>
                            <div class="option">
                                <i class="fa-solid fa-check"></i>
                                <p>Español</p>
                            </div>
                            <div class="option">
                                <i class="fa-solid fa-check"></i>
                                <p>Ingles</p>
                            </div>
                        </div>
                        <div class="lenguage">
                            <h2>Idiomas</h2>
                            <div class="option">
                                <i class="fa-solid fa-check"></i>
                                <p>Español</p>
                            </div>
                            <div class="option">
                                <i class="fa-solid fa-check"></i>
                                <p>Ingles</p>
                            </div>
                        </div>
                        <div class="lenguage">
                            <h2>Idiomas</h2>
                            <div class="option">
                                <i class="fa-solid fa-check"></i>
                                <p>Español</p>
                            </div>
                            <div class="option">
                                <i class="fa-solid fa-check"></i>
                                <p>Ingles</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="calendarBox">
                    <h2>Citas agendadas</h2>
                    <app-calendar></app-calendar>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
        <ul class="sci">
            <li> <a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
        <h4 class="copyright">Copyright ©2023 <a href="#">Psicóbien</a>. All rights reserved.</h4>
    </footer>
</div>