<div class="container-fluid">
    <h1 class="text-center bg-white">Actualizar datos de perfil</h1>
    <i class="fa-solid fa-rectangle-xmark" (click)="enviarDatosAlPadre()"></i>
    <hr>
    
<div class="separadorFotos">
    <div class="container">
        <div class="row">
            <div class="col-md-4 bg-white">
                <div class="card">
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit()">
                            <label>Cambiar foto de portada</label>
                            <div class="form-group">
                                <div class="div_file">
                                    <p class="text">Seleccionar...</p>
                                    <input class="btn_enviar" type="file" name="image" accept="image/*"
                                        (change)="selectImage($event)"><br>
                                </div>
                                <button class="btn btn-outline-primary" type="submit">Subir</button>
                            </div>
                        </form>
                        <form (ngSubmit)="onSubmit2()">
                            <label>Cambiar foto de perfil</label>
                            <div class="form-group">
                                <div class="div_file">
                                    <p class="text">Seleccionar...</p>
                                    <input class="btn_enviar" type="file" name="image" accept="image/*"
                                    (change)="selectImage($event)"><br>
                                </div>
                                <button class="btn btn-outline-primary" type="submit">Subir</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 bg-white">
                <div class="card card-foto">
                    <img [src]="imgURL" alt="" class="card-img-top">
                </div>
            </div>
        </div>
    </div>
</div>
    <br>
    <div class="separador">
        <div class="container">
            <div class="row">
                <div class="col-md-4 bg-white">
                    <h2 class="text-center">Idiomas</h2>
                    <div class="card">
                        <div class="card-header bg-white text-black d-flex justify-content-between align-items-center"
                            *ngFor="let idiomas of userDataIdiomas">
                            <label>{{idiomas.nombre}}</label>
                            <button class="btn btn-outline-danger btn-block"
                                (click)="deleteIdioma(idiomas.idProfesionalIdiomas)"
                                id="idioma.idProfesionalIdiomas">Eliminar</button>
                        </div>
                    </div>
                    <div class="agregar">
                        <form [formGroup]="idiomasForm">
                            <select class="form-control" name="idiomas" id="idiomas" formControlName="idIdioma" (change)="selectIdioma($event)" >
                                <option *ngFor="let idioma of idiomas" [value]="idioma.idIdiomas" >{{idioma.nombre}}</option>
                            </select>
                            <button (click)="agregarIdioma()" class="btn btn-outline-success btn-block" type="submit">Agregar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 bg-white">
                    <h2 class="text-center">Especialidades</h2>
                    <div class="card">
                        <div class="card-header bg-white text-black d-flex justify-content-between align-items-center"
                            *ngFor="let especialidad of especialidades">
                            <label>{{especialidad.especialidad}}</label>
                            <button class="btn btn-outline-danger btn-block"
                                (click)="deleteEspecialidad(especialidad.idProfesionalEspecialidad)"
                                id="especialidad.idProfesionalEspecialidad">Eliminar</button>
                        </div>
                    </div>
                    <div class="agregar">
                        <form [formGroup]="especialidadesForm">
                            <input class="form-control" formControlName="especialidad">
                            <button (click)="agregarEspecialidad()" class="btn btn-outline-success btn-block" type="submit">Agregar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="separador">
        <div class="container">
            <div class="row">
                <div class="col-md-4 bg-white">
                    <h2 class="text-center">Clinicas</h2>
                    <div class="card">
                        <div class="card-header bg-white text-black d-flex justify-content-between align-items-center"
                            *ngFor="let cliniclas of clinicasProfesiona">
                            <label>{{cliniclas.nombre}}</label>
                            <button class="btn btn-outline-danger btn-block"
                                (click)="deleteClinica(cliniclas.idClinica)"
                                id="idioma.idProfesionalIdioma">Eliminar</button>
                        </div>
                    </div>
                    <button class="btn btn-outline-success btn-block">Agregar</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 bg-white">

                    <div class="agregar">
                        <h2 class="text-center">Agregar clinica</h2>
                        <form [formGroup]="clinicaForm">
                            <select class="form-control" name="paises" id="paises" formControlName="idPais"
                            (change)="obtenerEstados()">
                            <option *ngFor="let pais of paises" [value]="pais.idPais">{{pais.nombre}}</option>
                        </select>
                        <select class="form-control" name="estados" id="estados" formControlName="idEstado" (change)="obtenerCiudades()">
                            <option *ngFor="let estado of estados" [value]="estado.idEstado">{{estado.nombre}}</option>
                        </select>
                        <select class="form-control" name="ciudades" id="ciudades" formControlName="idCiudad">
                            <option *ngFor="let ciudad of ciudades" [value]="ciudad.idCiudad">{{ciudad.nombre}}
                            </option>
                        </select>
                                <input class="form-control" formControlName="calle">
                                <input class="form-control" formControlName="numero">
                                <input class="form-control" formControlName="piso">
                                <input class="form-control" formControlName="telefono">
                                <input class="form-control" formControlName="nombre">
                                <input class="form-control" formControlName="referencias_direccion">
                                <input class="form-control" formControlName="idCiudad">
                                <input class="form-control" formControlName="colegiadoProfesional">
                                <input class="form-control" formControlName="terminosDeAtencion">
                                <input class="form-control" formControlName="estado">
                            <button (click)="agregarEspecialidad()" class="btn btn-outline-success btn-block" type="submit">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>