* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }
  
  section {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
    background-size: cover;
    background-position: center;
  }
  section .color {
    position: absolute;
    filter: blur(150px);

  }
  section .color:nth-child(1) {
    top: 300px;
    /* background: #5c55e6; */
    background: #00bfee;
    width: 600px;
    height: 600px;
  }
  section .color:nth-child(2) {
    bottom: 250px;
    left: 80px;
    /* background: #4b1c8b; */
    background: #009fc7;
    width: 600px;
    height: 600px;
  }
  section .color:nth-child(3) {
    bottom: 220px;
    right: 0px;
    /* background: #001f6a; */
    background: #0082a2;
    width: 600px;
    height: 600px;
  }
  section .box {
    position: relative;
  }
  section .box .cuadrado {
    content: "";
    position: absolute;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    /* background: rgba(228, 8, 209, 0.1); */
    background: rgba(165, 193, 253, 0.3);
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
  }
  section .box .cuadrado:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
  }
  section .box .cuadrado:nth-child(2) {
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
  }
  section .box .cuadrado:nth-child(3) {
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 1;
  }
  section .box .cuadrado:nth-child(4) {
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
    z-index: 1;
  }
  section .box .cuadrado:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
    z-index: 1;
  }
  section .box .cuadrado:nth-child(6) {
    top: 0px;
    left: -150px;
    width: 80px;
    height: 80px;
    z-index: 1;
  }
  section .box .conteiner {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(30, 19, 19, 0.3);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(225, 255, 255, 0.2);
    border-bottom: 1px solid rgba(225, 255, 255, 0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  }
  section .box .conteiner .form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
  }
  section .box .conteiner .form h2 {
    position: relative;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  section .box .conteiner .form h2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
    border-radius: 3px;
  }
  section .box .conteiner .form form .inputBox {
    width: 100%;
    margin-top: 20px;
  }
  section .box .conteiner .form form .inputBox input {
    width: 100%;
    background: transparent;
    border: none;
    padding: 10px 20px;
    border-radius: 35px;
    border-top: 1px solid rgba(225, 255, 255, 0.5);
    border-left: 1px solid rgba(225, 255, 255, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    outline: none;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
  }
  section .box .conteiner .form form .inputBox input::-moz-placeholder {
    color: #fff;
  }
  section .box .conteiner .form form .inputBox input::placeholder {
    color: #fff;
  }
  section .box .conteiner .form form .inputBox input[type=submit] {
    background: white;
    color: #666;
    border: none;
    font-weight: 600;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  section .box .conteiner .form form .olvidar {
    margin-top: 5px;
    color: #fff;
    padding: 2px;
  }
  section .box .conteiner .form form .olvidar a {
    color: #fff;
    font-weight: 600;
  }
  
  @keyframes animate {
    0%, 100% {
      transform: translateY(-40px);
    }
    50% {
      transform: translateY(40px);
    }
  }/*# sourceMappingURL=styles.css.map */