.header {
    top: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100px;

    .containerH {
        padding: 10px;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-around;
        background-color: #fff;

        .logoBox {
            display: flex;
            align-items: center;
            padding: 20px 20px;
            text-decoration: none;
            color: #14161a;

            .logo {
                width: 100px;
                padding-right: 20px;
            }

            .textLogo {
                font-weight: 100;

                span {
                    color: #01acc8;
                    text-decoration: underline;
                }
            }
        }

        .menuBox {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            width: 500px;

            .navMenu {
                display: flex;

                width: 70%;
                justify-content: space-evenly;

                .nav_link {
                    text-decoration: none;
                    color: #6d4e4e;
                    font-weight: 500;

                    i {
                        font-size: 30px;
                        color: #111;
                    }
                }
            }

            .comboBtn {
                position: relative;

                .btnLogout {
                    border-style: none;
                    height: 50px;
                    width: 120px;
                    border-radius: 15px;

                }

                .btnLogin {
                    border-style: none;
                    height: 50px;
                    width: 150px;
                    border-radius: 15px;
                }

                &:hover {
                    .loginBox {
                        visibility: visible;
                    }
                }

                .loginBox {
                    display: flex;
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    width: 300px;
                    height: 200px;
                    top: 50px;
                    right: 0;
                    background: #01acc8;
                    border-radius: 15px;
                    visibility: hidden;
                    gap: 20px;
                    flex-direction: column;
                    background: #f0f0f0;

                    button {
                        width: 200px;
                        height: 50px;
                        border-style: none;
                        border-radius: 10px;
                        background: #01acc8;

                        a {
                            text-decoration: none;
                            color: #fff;

                        }
                    }
                }
            }
        }


    }
}

@media(max-width: 900px) {
    .header {
        height: 200px;

        .containerH {
            flex-direction: column;
        }
    }

}