<div class="container-fluid">
    <app-header></app-header>
    <main class="main">
        <h2>Seleccione que tipo de cuenta desea crear</h2>
        <div class="conteinerServiceBox">
            <div class="serviceBox">
                <div class="icon" style="--i:#43f378;">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="content">
                    <h2>Paciente</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt enim explicabo mollitia autem
                        reprehenderit vitae commodi, aspernatur recusandae voluptatum corrupti, in a numquam, ullam
                        perspiciatis obcaecati. Harum ipsam praesentium asperiores.</p>
                </div>
            </div>
            <div class="serviceBox">
                <div class="icon" style="--i:#01acc8;">
                    <i class="fa-solid fa-user-doctor"></i>
                </div>
                <div class="content">
                    <h2>Psicólogo</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt enim explicabo mollitia autem
                        reprehenderit vitae commodi, aspernatur recusandae voluptatum corrupti, in a numquam, ullam
                        perspiciatis obcaecati. Harum ipsam praesentium asperiores.</p>
                </div>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</div>