<div class="container-fluid">
    <div class="main">
        <h2>¿Que tipo de usuario eres?</h2>
        <div class="conteinerServiceBox">
            <div class="serviceBox" (click)="enviarTipoUsuario(tipoUsuario.PACIENTE)">
                <div class="icon" style="--i:#43f378;">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="content">
                    <p>Quiero contratar a un psicologo</p>
                </div>
            </div>
            <div class="serviceBox" (click)="enviarTipoUsuario(tipoUsuario.PROFESIONAL)"> 
                <div class="icon" style="--i:#01acc8;">
                    <i class="fa-solid fa-user-doctor"></i>
                </div>
                <div class="content">
                    <p>Quiero ofrecer mis servicios</p>
                </div>
            </div>
        </div>
    </div>
</div>