<div class="container-fluid">
    <div class="login">
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <div class="cuadrado" style="--i:0"></div>
            <div class="cuadrado" style="--i:1"></div>
            <div class="cuadrado" style="--i:2"></div>
            <div class="cuadrado" style="--i:3"></div>
            <div class="cuadrado" style="--i:4"></div>
            <div class="cuadrado" style="--i:5"></div>
            <div class="cuadrado" style="--i:2"></div>
            <div class="cuadrado" style="--i:3"></div>
            <div class="cuadrado" style="--i:4"></div>
            <div class="cuadrado" style="--i:5"></div>
            <div class="cuadrado" style="--i:1"></div>
            <div class="cuadrado" style="--i:1"></div>
            <div class="cuadrado" style="--i:1"></div>

        </div>

    </div>
    <div class="cf">
        <div class="conteinerL">
            <div class="formulario">
                <h2>Login</h2>
                <p class="text-danger">{{loginError}}</p>
                <!-- <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)"> -->
                <form [formGroup]="loginForm">
                    <div class="inputBox">
                        <input class="form-control" type="email" id="username" placeholder="Username..." formControlName="email">
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                            <div *ngIf="email.errors?.['required']">
                                El correo es necesario.
                            </div>
                            <div *ngIf="email.errors?.['email']">
                                Se tiene que ingresar un correo valido.
                            </div>
                        </div>
                    </div>
                    <div class="inputBox">
                        <input class="form-control" type="password" id="password" placeholder="Password..."
                            formControlName="password">
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                                <div *ngIf="password.errors?.['required']">
                                    El correo es necesario.
                                </div>
                                <div *ngIf="password.errors?.['email']">
                                    Se tiene que ingresar un correo valido.
                                </div>
                            </div>
                    </div>
                    <div class="inputBox">
                        <input type="submit" (click)="login()" value="Login" href="/select-type-user">
                    </div>
                    <p class="olvidar">¿Olvidaste tu contraseña?
                        <a href="#">Click aquí</a>
                    </p>
                    <p class="olvidar">No tengo una cuenta
                        <a href="/create-account">Crear</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>