<div class="container-fluid">
    <app-header></app-header>
    <div class="login">
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <div class="cuadrado" style="--i:0"></div>
            <div class="cuadrado" style="--i:1"></div>
            <div class="cuadrado" style="--i:2"></div>
            <div class="cuadrado" style="--i:3"></div>
            <div class="cuadrado" style="--i:4"></div>
            <div class="cuadrado" style="--i:5"></div>
            <div class="cuadrado" style="--i:2"></div>
            <div class="cuadrado" style="--i:3"></div>
            <div class="cuadrado" style="--i:4"></div>
            <div class="cuadrado" style="--i:5"></div>
            <div class="cuadrado" style="--i:1"></div>
            <div class="cuadrado" style="--i:1"></div>
            <div class="cuadrado" style="--i:1"></div>

        </div>

    </div>
    <div class="cf">
        <div class="conteinerL">
            <div class="formulario">
                <h2>Login</h2>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
                    <div class="inputBox">
                        <input type="text" id="username" placeholder="Username..." formControlName="email">
                    </div>
                    <div class="inputBox">
                        <input type="password" id="password" placeholder="Password..." formControlName="password">
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Login" href="/select-type-user">
                    </div>
                    <p class="olvidar">¿Olvidaste tu contraseña?
                        <a href="#">Click aquí</a>
                    </p>
                    <p class="olvidar">No tengo una cuenta
                        <a href="/create-account">Crear</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>