<div class="container-fluid">
    <header class="header">
        <div class="containerH">
            <a href="/home" class="logoBox">
                <img src="assets/img-home/psicobien.png" alt="logo" class="logo">
                <h2 class="textLogo">Psico<span>bien</span></h2>
            </a>
            <nav class="menuBox">
                <a href="" class="nav_link">Inicio</a>
                <a href="" class="nav_link">Psicólogos</a>
                <a href="#" class="nav_link"><i class="fa-solid fa-magnifying-glass"></i></a>
                <div class="comboBtn">
                    <button class="button">Ingresar <i class="fa-solid fa-caret-down"></i></button>
                    <div class="loginBox">
                        <button><a href="/login">Iniciar sesion</a></button>
                        <button><a href="/create-account">Crear cuenta</a></button>
                    </div>
                </div>
            </nav>

        </div>
    </header>
    <div class="create-account">
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <div class="cuadrado" style="--i:0"></div>
            <div class="cuadrado" style="--i:1"></div>
            <div class="cuadrado" style="--i:2"></div>
            <div class="cuadrado" style="--i:3"></div>
            <div class="cuadrado" style="--i:4"></div>
            <div class="cuadrado" style="--i:5"></div>
            <div class="cuadrado" style="--i:2"></div>
            <div class="cuadrado" style="--i:3"></div>
            <div class="cuadrado" style="--i:4"></div>
            <div class="cuadrado" style="--i:5"></div>
            <div class="cuadrado" style="--i:1"></div>
            <div class="cuadrado" style="--i:1"></div>
            <div class="cuadrado" style="--i:1"></div>

        </div>

    </div>
    <div class="containerA">
        <div class="formulario">
            <form [formGroup]="createAccountForm" (ngSubmit)="onCreate(createAccountForm.value)">
                <h2>Register</h2>
                <div class="groupInput">
                    <div class="group">
                        <div class="inputBox">
                            <h4>DNI</h4>
                            <input type="text" id="names" placeholder="DNI..." formControlName="dni">
                        </div>
                        <div class="inputBox">
                            <h4>Ingrese nombre</h4>
                            <input type="text" id="names" placeholder="Nombres..." formControlName="nombre">
                        </div>
                        <div class="inputBox">
                            <h4>Ingrese apellidos</h4>
                            <input type="text" id="lastnames" placeholder="Apellidos..." formControlName="apellido">
                        </div>
                        <div class="inputBox">
                            <h4>Correo electrónico</h4>
                            <input type="text" id="email" placeholder="Correo electrónico..." formControlName="email">
                        </div>
                        <div class="inputBox">
                            <h4>Fecha Nacimiento</h4>
                            <input type="date" id="email" formControlName="fechaNacimiento">
                        </div>
                    </div>
                    <div class="group">
                        <div class="inputBox">
                            <h4>Genero</h4>
                            <select name="genero" id="genero" formControlName="genero">
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                                <option value="O">Otro</option>
                            </select>
                        </div>
                        <div class="inputBox">
                            <h4>Número celular</h4>
                            <input type="text" id="email" placeholder="Telefono..." formControlName="telefono">
                        </div>
                        <div class="inputBox">
                            <h4>Contraseña</h4>
                            <input type="password" id="password" placeholder="Password..." formControlName="password">
                        </div>
                        <div class="inputBox">
                            <h4>Confirmación contraseña</h4>
                            <input type="password" id="password" placeholder="Confirm password..."
                                formControlName="paswordVal">
                        </div>
                        <div class="inputBox">
                            <h4>Pais</h4>
                            <select name="paises" id="paises" formControlName="idPais" (change)="obtenerEstados()">
                                <option *ngFor="let pais of paises" [value]="pais.idPais">{{pais.nombre}}</option>
                            </select>
                        </div>
                        <div class="inputBox">
                            <h4>Estado</h4>
                            <select name="estados" id="estados" formControlName="idEstado" (change)="obtenerCiudades()">
                                <option *ngFor="let estado of estados" [value]="estado.idEstado">{{estado.nombre}}</option>
                            </select>
                        </div>
                        <div class="inputBox">
                            <h4>Ciudad</h4>
                            <select name="ciudades" id="ciudades" formControlName="idCiudad">
                                <option *ngFor="let ciudad of ciudades" [value]="ciudad.idCiudad">{{ciudad.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="output">
                    <input type="submit" value="Continuar">
                </div>
            </form>
        </div>
    </div>
</div>