<div class="container-fluid">
    <app-header></app-header>
    <main class="main">
        <section class="banner">
            <img src="assets/img-home/banner_3.webp" alt="banner" class="img">
            <div class="content">
                <h2> Tus salud mental es lo más importante</h2>
                <p>Tu bienestar emocional es nuestra prioridad. En PsicóBien, te conectamos con profesionales de la
                    salud mental para que puedas vivir una vida plena y equilibrada.</p>
                <a href="#PsicoCards" class="btn">Ver más</a>
            </div>
        </section>

        <section class="information">
            <div class="content">
                <h2>¿Cómo te ayudamos?</h2>
                <h3>Proceso de conexión</h3>
            </div>
            <div class="cardH">
                <div class="boxCardH">
                    <img src="assets/img-home/buscar.jpg" alt="">
                    <h2>Buscar</h2>
                    <p>Encuentra al psicólogo ideal para ti, explorando perfiles de profesionales de la salud mental de
                        diversos países y especialidades.</p>
                </div>
                <div class="boxCardH">
                    <img src="assets/img-home/contactar.png" alt="">
                    <h2>Contactar</h2>
                    <p>Comunícate de manera sencilla y segura con el psicólogo que elijas, para hacer preguntas o
                        aclarar dudas antes de programar una cita.</p>
                </div>
                <div class="boxCardH">
                    <img src="assets/img-home/agendar.jpg" alt="">
                    <h2>Agendar</h2>
                    <p> Programa tus citas de manera conveniente, eligiendo la fecha y hora que mejor te acomode con la
                        disponibilidad del psicólogo de tu elección.</p>
                </div>
            </div>
        </section>
        <section class="PsicoCards" id="PsicoCards">
            <div class="content">
                <h2>Psicólogos que te pueden interesar</h2>
                <h3>Profesionales capacitados para ayudarte con tu bienesar mental.</h3>
            </div>

            <swiper-container 
            pagination="false" 
            grab-cursor="true" 
            centered-slides="false" 
            slides-per-view="auto" 
            coverflow-effect-rotate="0"
            coverflow-effect-stretch="0"
            coverflow-effect-depth="200"
            coverflow-effect-modifier="1"
            coverflow-effect-slide-shadows="false"
            >
                <swiper-slide *ngFor="let usuario of userDatas">
                    <app-cards [userData]="usuario"></app-cards>
                </swiper-slide>
                
            </swiper-container>

        </section>
    </main>
    <app-footer></app-footer>
</div>