<div class="container-fluid">
    <app-header></app-header>
    <main class="main">
        <section class="banner">
            <img src="assets/img-home/banner_3.webp" alt="banner" class="img">
            <div class="content">
                <h2> Tus salud mental es lo más importante</h2>
                <p>Tu bienestar emocional es nuestra prioridad. En PsicóBien, te conectamos con profesionales de la
                    salud mental para que puedas vivir una vida plena y equilibrada.</p>
                <a href="#PsicoCards" class="btn">Ver más</a>
            </div>
        </section>

        <section class="information">
            <div class="content">
                <h2>¿Cómo te ayudamos?</h2>
                <h3>Proceso de conexión</h3>
            </div>
            <div class="cardH">
                <div class="boxCardH">
                    <img src="assets/img-home/buscar.jpg" alt="">
                    <h2>Buscar</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nulla facilis fugit, provident quo
                        doloremque minus dicta quae, animi quod vero, rem dolor! Doloremque odit error rem. Maiores,
                        blanditiis dolorem?</p>
                </div>
                <div class="boxCardH">
                    <img src="assets/img-home/contactar.png" alt="">
                    <h2>Contactar</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nulla facilis fugit, provident quo
                        doloremque minus dicta quae, animi quod vero, rem dolor! Doloremque odit error rem. Maiores,
                        blanditiis dolorem?</p>
                </div>
                <div class="boxCardH">
                    <img src="assets/img-home/agendar.jpg" alt="">
                    <h2>Agendar</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nulla facilis fugit, provident quo
                        doloremque minus dicta quae, animi quod vero, rem dolor! Doloremque odit error rem. Maiores,
                        blanditiis dolorem?</p>
                </div>
            </div>
        </section>
        <section class="PsicoCards" id="PsicoCards">
            <div class="content">
                <h2>Psicólogos que te pueden interesar</h2>
                <h3>Profesionales capacitados para ayudarte con tu bienesar mental.</h3>
            </div>
            <div class="cards">
                <app-cards></app-cards>
                <app-cards></app-cards>
                <app-cards></app-cards>
                <app-cards></app-cards>
                <app-cards></app-cards>
                <app-cards></app-cards>
                <app-cards></app-cards>
                <app-cards></app-cards>
            </div>
        </section>
    </main>
    <app-footer></app-footer>
</div>