<div class="container-fluid">
    <app-header></app-header>
    <main class="main">
        <div class="infoPatient">
            
        </div>
        <div class="contentDescription">
            <form class="descriptionB">
                <label for="miTexto">Ingresa tu texto:</label>
                <br>
                <textarea placeholder="Escribe aquí..." name="miTexto" rows="4" cols="50" ></textarea>
                <br>
                <input type="submit" value="Enviar">
            </form>
        </div>
        <div class="contentMeasurement">
            <div class="measurementBox">
                <label for="miSlider">Selecciona un valor:</label>
                <input type="range" id="miSlider" name="miSlider" min="0" max="100" value="50">
            </div>
            <div class="measurementBox">
                <label for="miSlider">Selecciona un valor:</label>
                <input type="range" id="miSlider" name="miSlider" min="0" max="100" value="50">
            </div>
            <div class="measurementBox">
                <label for="miSlider">Selecciona un valor:</label>
                <input type="range" id="miSlider" name="miSlider" min="0" max="100" value="50">
            </div>
            <div class="measurementBox">
                <label for="miSlider">Selecciona un valor:</label>
                <input type="range" id="miSlider" name="miSlider" min="0" max="100" value="50">
            </div>
            <div class="measurementBox">
                <label for="miSlider">Selecciona un valor:</label>
                <input type="range" id="miSlider" name="miSlider" min="0" max="100" value="50">
            </div>
            <div class="measurementBox">
                <label for="miSlider">Selecciona un valor:</label>
                <input type="range" id="miSlider" name="miSlider" min="0" max="100" value="50">
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</div>
