<div class="topfive">
    <div class="box">
        <h3>Clientes con más citas</h3>
        <div class="list" *ngFor="let usuario of clientesTop; let i = index">
            <div class="imgBox">
                <img src="{{usuario.urlFotoPerfil}}" alt="Not found">
            </div>
            <div class="content">
                <h2 class="rank">
                    <small>#</small>
                    {{i+1}}
                </h2>
                <h4>{{usuario.paciente}}</h4>
                <p>Psicóloga</p>
                <p>No. {{usuario.dni}}</p>
                <p>Citas: {{usuario.total_citas}}</p>
            </div>
        </div>
    </div>
</div>  