<div class="profile">
  <div class="header">
      <div class="container">
          <a href="/home" class="logoBox">
              <img src="assets/img-profile/psicobien.png" alt="logo" class="logo">
              <h2 class="textLogo">Psico<span>bien</span></h2>
          </a>
          <nav class="menuBox">
              <a href="" class="nav_link">Inicio</a>
              <a href="" class="nav_link">Psicólogos</a>
              <a href="#" class="nav_link">
                  <i class="fa-solid fa-magnifying-glass"></i>
              </a>
          </nav>
      </div>
  </div>
</div>